<div *ngIf="movieDetails" class="movie-details-container">
    <h2>{{ movieDetails.name }}</h2>
    <img [src]="movieDetails.image" alt="Movie Poster" class="moviePoster">
    <p><strong>Genres:</strong> {{ movieDetails.genres.join(', ') }}</p>
    <p><strong>Rating:</strong> {{ movieDetails.rating }}</p>
    <p><strong>Language:</strong> {{ movieDetails.language }}</p>
    <p><strong>Premiered:</strong> {{ movieDetails.premiered }}</p>
    <p><strong>Summary:</strong> {{ movieDetails.summary }}</p>
  </div>
  