body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 20px;
}

.movie-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.movie-details {
  margin-top: -70px;
  padding-left: 30px;
  padding-right: 40px;
  font-size: 15px;
}

.movie-card {
  margin-bottom: 60px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-image {
  max-height: 330px;
  object-fit: cover;
  transition: transform 0.3s;
  max-width: 100%;
  height: auto;
}

.movie-card:hover .movie-image {
  transform: scale(1.1);
}

.view-more {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  font-size: 15px;
}

.movie-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 20px;
  align-items: center;
}

.search-filter {
  width: 70%;
  margin-bottom: 20px;
}

.filter {
  width: 28%;
  margin-bottom: 20px;
}

.search-input, .mat-form-field {
  width: 100%;
}

.header {
  display: flex;
  width: 40%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
}

.search-label, .mat-form-field, .mat-form-field-wrapper, .mat-form-field-flex, .mat-select-trigger {
  font-size: 14px;
  padding: 6px 0;
}

.header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.header button mat-icon {
  vertical-align: middle;
}

.pagination {
  float: right;
  clear: both;
  margin-top: 20px;
}

.loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
}

.mat-spinner {
  width: 50px;
  height: 50px;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}
